.ProfileEdit {
  display: flex;
  justify-content: center;
}

.profile-edit-form {
  padding: 2rem 1rem;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
  font-size: 1.1rem;
}

.profile-edit-form h3 {
  margin-top: 0;
}

.profile-edit-form input {
  margin-left: 1rem;
  width: 15rem;
  border-radius: 5px;
  padding: 0.1rem 0.2rem 0.3rem 0.2rem;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  border: 1px black solid;
}
